Source: php-markdown2
Section: PHP
Priority: optional
Maintainer: Kevin Marschke <kmarschke@ellemsoftware.com>
Build-Depends: debhelper (>=9), php7.0-dev, libmarkdown2-dev
Standards-Version: 3.9.6
Homepage: library.ellemsoftware.com/p/php-markdown2/
Package: php-markdown2
Architecture: all
Depends: libmarkdown2, php (>=7.0)
Version: 1.0
Description: PHP module that provides markdown interpretation with the use of libmarkdown2
 php-markdown2 is not an upgrade of Michel Fortin's php-markdown. Instead, this package is a
 php module that uses David Parsons's native libmarkdown2 (a native c library)
